<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <ApplicationRevision>1</ApplicationRevision>
    <ApplicationVersion>1.0.0.*</ApplicationVersion>
    <IsRevisionIncremented>true</IsRevisionIncremented>
    <BootstrapperEnabled>false</BootstrapperEnabled>
    <IsWebBootstrapper>false</IsWebBootstrapper>
    <MapFileExtensions>true</MapFileExtensions>
    <CreateDesktopShortcut>true</CreateDesktopShortcut>
    <GenerateManifests>false</GenerateManifests>
    <SignatureAlgorithm>(none)</SignatureAlgorithm>
    <SignManifests>false</SignManifests>
    <Configuration>Release</Configuration>
    <TargetFramework>net5.0-windows10.0.19041</TargetFramework>
    <RuntimeIdentifier>win-x86</RuntimeIdentifier>
    <PublishDir>\\MAC-MINI\Shared\AnteaterIntercom\</PublishDir>
    <PublishUrl>\\MAC-MINI\Shared\AnteaterIntercom\</PublishUrl>
    <PublishProtocol>ClickOnce</PublishProtocol>
    <PublishReadyToRun>true</PublishReadyToRun>
    <PublishSingleFile>true</PublishSingleFile>
    <SelfContained>true</SelfContained>
    <OpenBrowserOnPublish>false</OpenBrowserOnPublish>
    <Install>true</Install>
    <InstallFrom>Unc</InstallFrom>
    <InstallUrl>\\MAC-MINI\Shared\AnteaterIntercom\</InstallUrl>
    <UpdateEnabled>true</UpdateEnabled>
    <UpdateMode>Foreground</UpdateMode>
  </PropertyGroup>  
</Project>
